/* */


  .modal-btn {
    font-size: 1rem;
    cursor: pointer;
    color: #d12222;
    padding: 10px;
  }

  .modal-btn:hover {
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  }

  #modal-toggle {
    display: none;
  }
  .modal-content, .modal-backdrop {
    opacity: 0;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .modal-content {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 50%;
    max-height: 98%;
    width: 70%;
    max-width: 600px;
    text-align: center;
    transform: translateX(125%);
  }
  .modal-backdrop {
    left: 0;
    top: 0;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    transform: scale(0);
  }
  #modal-toggle:checked ~ .modal-backdrop {
    opacity: 1;
    background-color: rgb(169 182 227 / 65%);
    z-index: 998;
    transform: scale(1);
  }
  #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: auto;
    cursor: auto;
    z-index: 999;
    transform: translateX(0%);
  }
  @media (max-width: 600px) {
    #modal-toggle:checked ~ .modal-backdrop {
      opacity: 0;
   }
    .modal-content {
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
   }
  }
  .modal-close-btn {
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
  }
  .modal-close-btn svg {
    transition: 0.2s;
  }
  .modal-close-btn svg line {
    stroke-width: 5px;
    stroke: #d12222;
  }
  .modal-close-btn:hover svg {
    transform: rotate(90deg);
  }
  /* BASIC FUNCTIONALITY .tabs */
  .tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .tabs > .radio {
    display: none;
  }
  .tabs > .radio:checked + .table + .tabs-content {
    display: block;
  }
  .tabs > .table {
    order: -1;
    flex-basis: 50%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tabs .tabs-content {
    width: 100%;
    display: none;
  }
  /* END BASIC FUNCTIONALITY .tabs */
  /* THEME for .tabs with login & sign-in */
  .tabs > .table {
    padding: 20px 0;
    text-align: center;
    border-bottom: solid #ff7675 5px;
    color: #7e6c6c;
    cursor: pointer;
  }
  .tabs > .table span {
    font-weight: 600;
  }
  .tabs > .table:hover {
    color: #b34443;
    background: #ffe4e4;
  }
  .tabs > .radio:checked + .table {
    color: #fff;
    background: #ff7675;
    cursor: auto;
  }
  .tabs > .radio:checked + .table span {
    display: inline-block;
    font-weight: 500;
    transform: scale(1.2);
    transition: 0.1s;
  }
  /* END THEME for .tabs with login & sign-in */
  /* START style login & sign up */

  .tabs > .tabs-content form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .tabs > .tabs-content form input {
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-bottom: solid 1px #00796b;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.1s;
  }
  .tabs > .tabs-content form input:focus {
    transform: translateX(10px);
    outline: none;
  }
  .tabs > .tabs-content input[type="submit"] {
    padding: 15px 0;
    width: 100%;
    background: #ff7675;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .tabs > .tabs-content input[type="submit"]:focus {
    transform: none;
  }

  @media screen and (max-width: 600px) {
    .modal-btn {
      font-size: 1.2rem;
    }
    .modal-btn:hover {
      color: #242424;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      list-style: circle;
    }
  }
